body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:1080px;
  background:inherit;
  background-color:rgba(57, 62, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#393E46;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:1080px;
  display:flex;
  color:#393E46;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:460px;
  width:140px;
  height:40px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.6980392156862745);
}
#u93 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u93_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:350px;
  width:140px;
  height:40px;
  display:flex;
  font-family:"Open Sans Bold", "Open Sans Regular", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u94 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:240px;
  width:140px;
  height:40px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.6980392156862745);
}
#u95 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:130px;
  width:140px;
  height:40px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.6980392156862745);
}
#u96 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u96_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:92px;
  background:inherit;
  background-color:rgba(34, 40, 49, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:92px;
  display:flex;
}
#u98 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u98_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:24px;
  width:50px;
  height:44px;
  display:flex;
}
#u99 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u99_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:1720px;
  top:30px;
  width:92px;
  height:37px;
  display:flex;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:1840px;
  top:24px;
  width:50px;
  height:50px;
  display:flex;
}
#u101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
